<!DOCTYPE html>
<html>
<head>
	<title>Error Page a Flat Responsive Widget Template :: w3layouts</title>
	<link rel="stylesheet" href="/public/static/css/404style.css">

	<!-- For-Mobile-Apps-and-Meta-Tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Error Page Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //For-Mobile-Apps-and-Meta-Tags -->

</head>
<body>
	<div class="main">
		<div class="text">
			<div class="left">
				<h2>404</h2>
			</div>
			<div class="right">
				<h3>SORRY!</h3>
				<h4>The Page You Are Looking For Was Not Found</h4>
				<a href="#">GO BACK</a>
			</div>
			<div class="clear"></div>
		</div>
		<div class="footer">
			<p>Copyright © 2017 Error Page. All Rights Reserved | Design by <a href="http://w3layouts.com" target="_blank">W3layouts</a></p>
		</div>
	</div>
</body>
</html>